.main {
    display: flex;
}

.aside {
    flex-grow: 0.3;
}

.content {
    flex-grow: 0.7;
}
#listContainer{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border: black 1px solid;
}

.launchItem:hover {
    font-weight: bold;
    cursor: pointer;
} 

.launchpad {
    fill: blue;
}

.highlightedLaunchpad {
    fill: red;
}